langchain-community
langchain-text-splitters
langchain-milvus
pymilvus[milvus_lite]
python-dotenv
tiktoken
google-generativeai
langchain-google-genai
langchain
pymupdf
pypdf
fastapi
uvicorn[standard]
sqlalchemy
pyjwt
python-multipart
bcrypt
email-validator
duckduckgo-search